body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom right, #111, #222);
  color: #fff;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  gap: 10px; 
}

.app-logo {
  max-width: 1500px;
  height: auto;
  margin-bottom: 20px;
  margin-left: 2%;
}

.card {
  background-color: #1c1c1c;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  max-width: 400px;
  width: 100%;
  text-align: center;
  border: 1px solid #333;
}

.logo {
  background-color: #fff;
  color: #111;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 0 auto 24px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}

.title {
  margin-bottom: 24px;
  font-size: 22px;
}

.input {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #2b2b2b;
  color: #fff;
  font-size: 16px;
}

.input::placeholder {
  color: #aaa;
}

.button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #0390f5;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background-color: #00bfa5;
}

.button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.resultado {
  background-color: #111;
  padding: 16px;
  margin-top: 24px;
  border-radius: 8px;
  text-align: left;
  font-size: 14px;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #333;
}
